*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,sans-serif;
    background: linear-gradient(to right,hsl(210, 29%, 24%),hsl(204, 70%, 53%));
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    background-color: hsl(240, 28%, 14%);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.127);
    width: 300px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #00adb5;
}
input[type="text"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}

button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: hsl(183, 100%, 35%);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition:background-color 0.3s ease;

}
button:hover{
    background-color: hsl(183, 100%, 40%);
}